/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    padding: 10px;
    width: calc(100% - 20px);
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Copperplate", "Arial", sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

#wrapper {
	max-width: 1400px;
	margin: auto;
}

#hanger_list {
	float: left;
    width: 256px;
    height: calc(100% - 268px);
    border: 2px solid #FFFFFF;
    margin-right: 10px;
	margin-bottom: 10px;
}

#hanger_list .header {
	padding-left: 20px;
	padding-top: 20px;
	width: calc(100% - 20px);
}

#hanger_list ul {
    float: left;
    width: 100%;
    height: calc(100% - 115px);
    overflow-y: auto;
    margin-bottom: 10px;
}

#hanger_list ul li {
    display: block;
    width: calc(100% - 40px);
    float: left;
    padding: 10px 20px 10px 20px;
}

#hanger_list ul li:hover {
	background-color: rgba(255, 255, 255, 0.2);
	cursor: pointer;
}

#hanger_list ul li.selected {
    color: #FFF;
    background-color: #0033FF;
}

#hanger_list .button-wrapper {
	float: left;
	padding: 0px 20px 0px 20px;
	width: calc(100% - 40px);
}

#canvas_wrapper {
    float: left;
    width: calc(100% - 270px);
    height: calc(100% - 310px);
	margin-bottom: 10px;
}

#status-effects {
	float: left;
	height: 35px;
	width: calc(100% - 570px);
	margin-right: 20px;
}

#timer {
	float: right;
	line-height: 35px;
	margin-bottom: 10px;
	margin-right: 10px;
}

#turn {
	float: right;
	width: 100px;
	margin-bottom: 10px;
}



#timer:before {
	content: "Time remaining: ";
}

#hud {
    float: left;
    height: 244px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: flex-start;
}

.header {
    float: left;
    font-size: 19px;
    font-weight: bold;
    margin-bottom: 10px;
    width: 100%;
	height: 20px;
}

button {
    float: left;
    background-color: #0033FF;
    padding: 10px;
    width: 100%;
	height: 35px;
    text-align: center;
	border: none;
	color: #FFF;
}

button:hover {
    cursor: pointer;
}

button:disabled {
	background-color: #666666;
}

button:disabled:hover {
	cursor: default;
}


#square {
	vertical-align: top;
	width: 236px;
	height: 236px;
    border: 2px solid #FFFFFF;
	padding: 10px;
	margin-right: 10px;
}

#ship_info {
    vertical-align: top;
    width: calc(100% - 314px);
    height: 216px;
    border: 2px solid #FFFFFF;
    padding: 20px;
}

#stats {
    float: left;
    width: 250px;
    height: 100%;
	padding-right: 20px;
	border-right: 2px solid #666;
	margin-right: 20px;
}

.stat {
    float: left;
    margin-bottom: 10px;
    line-height: 16px;
}

.stat:before {
    display: inline-block;
    content: "";
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
    position: relative;
    top: 4px;
    margin-right: 10px;
}

.stat.ship {
    width: 100px;
}

.stat.ship:nth-child(2n+1) {
    margin-left: calc(100% - 200px);
}

.stat.pilot {
    width: calc(33%);
}

#move {
	margin-top: 20px;
}

#pilot-name {
    margin-top: 10px;
}

#items {
    float: left;
    width: calc(100% - 292px);
    height: 216px;
	display: flex;
	align-content: stretch;
}

.item {
	flex-grow: 1;
	flex-shrink: 1;
	height: 100%;
	margin-left: 20px;
}

.item:first-child {
	margin-left: 0px;
}

.item p {
	float: left;
	display: inline-block;
	width: 100%;
	font-family: "Arial", sans-serif;
	height: calc(100% - 65px);
}

.item button {
	float: left;
	width: 100%;
}
